@keyframes spin-bounce {
  0% {
    transform: translate(-50%, 0) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -40px) rotate(90deg);
  }
  50% {
    transform: translate(-50%, 0) rotate(180deg);
  }
  75% {
    transform: translate(-50%, -40px) rotate(270deg);
  }
  100% {
    transform: translate(-50%, 0) rotate(360deg);
  }
}

.animate-spin-bounce {
  animation: spin-bounce 3s linear infinite;
  position: absolute;
  top: 17%;
  left: 40%;
  will-change: transform;
} 